<footer class="footer">
  <div class="bottom-content">
      <ul class="bottom-right">
        <li><a href="https://www.twitter.com"><img src="/images/twitter.png" title="twitter" alt="eight ball" height="30" width="30"></a></li>
        <li><a href="https://www.facebook.com"><img src="/images/facebook.png" title="facebook" alt="eight ball" height="30" width="30"></a></li>
      </ul>
    </div>
  <ul class="list-inline">
      <li class="list-inline-item"><a href="/">Home</a></li>
      <li class="list-inline-item"><a href="/about">About</a></li>
      <li class="list-inline-item"><a href="/contact">Contact</a></li>
      <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
  </ul>
  <p class="copyright">CarTraders © 2023</p>
</footer>
</body>
</html>