<%- include('./partials/header.ejs') %>
    <div class="content">
        <div class="center-container">
            <div class="event-heading">
                <h3 class="dis-in-bl">About Us</h3>
            </div>
            <div class="m-60">
                <p>Welcome to CarTraders</p>
                <p>Car Trading is a platform to organize, find, and connection cars. People use Car connectionr to find thier car at the best price, chance to drive other cars.</p>
                <p>Find your perfect match from the comfort of home and shop millions of new and used cars based on your budget.</p>
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs') %>
