<%- include('./partials/header.ejs') %>
    <div class="content">
        <div class="center-container">
            <div class="m-80">
          <p>Welcome to CarTraders!</p>
          <p>Car connectionr is a platform where you can connection in your old car with new and old cars of your choice  </p>
          <p>Checkout our current invetory list and connection in today!</p>
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs') %>
